<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECOMONKS Payment</title>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<form id="payment-form" method="POST">

    {% csrf_token %}

    <input type="hidden" name="payment_id" id="payment_id">

    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="email" value="{{ email }}">
    <input type="hidden" name="phone" value="{{ phone }}">
    <input type="hidden" name="address" value="{{ address }}">
    <input type="hidden" name="quantity" value="{{ quantity }}">

</form>

<script>

var options = {

    key: "{{ razorpay_api_key }}",

    amount: "{{ amount }}",

    currency: "{{ currency }}",

    name: "ECOMONKS",

    description: "Karpooram Order Payment",

    handler: function (response) {

        console.log("PAYMENT SUCCESS");

        console.log(response);

        // Set payment ID
        document.getElementById("payment_id").value =
            response.razorpay_payment_id;

        // Send form data to Django backend
        fetch("/userpayment_post/", {

            method: "POST",

            headers: {
                "X-CSRFToken":
                document.querySelector('[name=csrfmiddlewaretoken]').value
            },

            body: new FormData(
                document.getElementById("payment-form")
            )

        })

        .then(response => response.text())

        .then(data => {

            console.log("SERVER RESPONSE:", data);

            alert("Payment Successful & Email Sent");

            window.location.href = "/";

        })

        .catch(error => {

            console.log("FETCH ERROR:", error);

            alert("Payment successful but mail failed");

        });

    },

    theme: {
        color: "#0b7d45"
    }

};

var rzp = new Razorpay(options);

// Auto open payment popup
window.onload = function () {

    rzp.open();

};

</script>

</body>
</html>